* {box-sizing: border-box; }

/* FIRST PAGE - background colour*/
.first-body {
    background-color: rgb(0, 0, 0);
}
    
/* text formats*/
h1 {
    color: rgb(223, 218, 218);
    text-align: center;
}

h2 {
    color: white;
    text-align: left;
    font-size: 30px;
    margin-top: 205px;
    margin-left: 300px;
}

h3 {
    color: white;
    text-align: right;
    font-size: 30px;
    margin-right: 300px;
    margin-top: -61px;
    
}

h4 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 220px;
}

/* to align images on same line */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* make img 3d rotate with hover */
.container {
    perspective: 1000px;
}

.image-box{
    margin-top: 100px;
    margin-left: 150px;
    width: 400px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.image-box img{
 width: 400px;
 height: 300px;
 border-radius: 10px;
 box-shadow: 0 10px 20 px rgba(0, 0, 0, 0.5);
}

.image-box:hover{
    transform: rotateX(20deg) rotateY(40deg);
}

.containers {
    perspective: 1000px;
}

.image-boxs{
    margin-top: 100px;
    margin-left: 150px;
    width: 400px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.image-boxs img{
 width: 400px;
 height: 300px;
 border-radius: 10px;
 box-shadow: 0 10px 20 px rgba(0, 0, 0, 0.5);
}

.image-boxs:hover{
    transform: rotateX(20deg) rotateY(40deg);
}

.containerz {
    perspective: 1000px;
}

.image-boxz{
    margin-left: 530px;
    width: 400px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.image-boxz img{
 width: 400px;
 height: 300px;
 border-radius: 10px;
 box-shadow: 0 10px 20 px rgba(0, 0, 0, 0.5);
}

.image-boxz:hover{
    transform: rotateX(20deg) rotateY(40deg);
}

/* SECOND PAGE - text format */

.second-body{
    background-image: url("glitch2.avif");
}


/* THIRD PAGE - text over image */
.third-body{
font-family: Georgia, 'Times New Roman', Times, serif;
}

.containerd{
    position: relative;
  text-align: center;
  color: white;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

